In [54]:
from pandas import pandas as pd
import numpy as np

In [55]:
# it reads dataset from csv - dataset fiels using pandas libarary
dataset= pd.read_csv("50_Startups.csv")
dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [56]:
#Python AI algorithm does not handle categorical columns data in dataset directly. In order to convert it to a meaningful no/data which python AI algorithm understands, the method get_dummies used. Here the column is "State"
# Since the column data falls under nominal - categorical data which can not be compared amoung. So during the conversion the method one hot encoding is used. Columns will expanded into no of unique categorical data.
#As duplicated data could lead to decrease in model prcediction performance , we need to remove duplicated columns entires using drop_first=True ( first column of expanded nominal data columns will be dropped).abs
#dtype=int specifies the data type to which the category column data will be converted. dtype is  bool by default.
dataset = pd.get_dummies(dataset,dtype=int,drop_first=True)

In [57]:
myx = dataset[["State_Florida"]]
type(myx)

pandas.core.frame.DataFrame

In [58]:
#Folllowing command is to get the columns list which is available in the ddataset
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

In [59]:
#Splitting dataset into input and output variable  
#Dependant variable ie out put
dependant = dataset[["Profit"]]

In [60]:
#All dependant variable ie input put
independant = dataset[['R&D Spend', 'Administration', 'Marketing Spend','State_Florida', 'State_New York']]

In [61]:
# To separate train and test set. The below library used.
from sklearn.model_selection import train_test_split

In [62]:
#Spliting train sets and test sets passing dependant and independant datasets will be passed to the funciotn..
#Train data sets and Test data sets will be assigned to respective varaibles below mentioned
X_Train, X_Test, Y_Train,Y_Test = train_test_split(independant,dependant,test_size=0.3,random_state=0)

In [63]:
#To import SVR class
from sklearn.svm import SVR
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('ignore')
#An object SVR  is created and assigned to Regressor
kernel={ 'poly', 'rbf', 'sigmoid'}#, 'precomputed','linear',}
#kernel={ 'linear'}
lst = [['',0.0,0.0]] 
for kitem in kernel:    
    for citem in np.arange(0,3100,100):    
    #for citem in [1,10.500,1000.2000,3000]:
        if(citem==0.0):
            citem = 1.0
        if(citem==200.00):
            continue
        #print(f'citem - kitem: {citem},{kitem}')
        Regressor = SVR(C=citem,kernel=kitem)
        #Creates the AI model here with Train data sets
        Regressor.fit(X_Train,Y_Train)
        Y_Predict = Regressor.predict(X_Test)
        # libarary to calculae prediction metrics 2 score        
        #r_scroe callculated and assigned to a variable
        r_sqr = r2_score(Y_Test,Y_Predict)
        #r_sqr
        lst.append([kitem,citem,r_sqr])
        #print(f'citem - kitem - r_sqr: {citem},{kitem},{r_sqr}')        
df = pd.DataFrame(lst, columns =['kernel', 'citem','r_sqr']) 
del lst[0]
from io import StringIO
from tabulate import tabulate
print(tabulate(df, headers='keys', tablefmt='psql'))
maxdmodel_r_sqr = df.max()
# Get the rows where 'r_sqr' equals the maximum value
maxval =maxdmodel_r_sqr['r_sqr']
matching_rows = df[df['r_sqr'] == maxval]
print( f'Best fit at {matching_rows["r_sqr"].values} in the run- model combination is criterion:{matching_rows["kernel"].values}, splitter:{matching_rows["citem"].values}.')

+----+----------+---------+------------+
|    | kernel   |   citem |      r_sqr |
|----+----------+---------+------------|
|  0 |          |       0 |  0         |
|  1 | poly     |       1 | -0.0508901 |
|  2 | poly     |     100 |  0.465663  |
|  3 | poly     |     300 |  0.588686  |
|  4 | poly     |     400 |  0.616834  |
|  5 | poly     |     500 |  0.620774  |
|  6 | poly     |     600 |  0.62458   |
|  7 | poly     |     700 |  0.630473  |
|  8 | poly     |     800 |  0.634029  |
|  9 | poly     |     900 |  0.637312  |
| 10 | poly     |    1000 |  0.640324  |
| 11 | poly     |    1100 |  0.643065  |
| 12 | poly     |    1200 |  0.645534  |
| 13 | poly     |    1300 |  0.647732  |
| 14 | poly     |    1400 |  0.64693   |
| 15 | poly     |    1500 |  0.648883  |
| 16 | poly     |    1600 |  0.655675  |
| 17 | poly     |    1700 |  0.661766  |
| 18 | poly     |    1800 |  0.665255  |
| 19 | poly     |    1900 |  0.668583  |
| 20 | poly     |    2000 |  0.671748  |
| 21 | poly     |    2100 |  0.674751  |
| 22 | poly     |    2200 |  0.677591  |
| 23 | poly     |    2300 |  0.68027   |
| 24 | poly     |    2400 |  0.683152  |
| 25 | poly     |    2500 |  0.699169  |
| 26 | poly     |    2600 |  0.695718  |
| 27 | poly     |    2700 |  0.691634  |
| 28 | poly     |    2800 |  0.689933  |
| 29 | poly     |    2900 |  0.690466  |
| 30 | poly     |    3000 |  0.690999  |
| 31 | sigmoid  |       1 | -0.0574992 |
| 32 | sigmoid  |     100 | -0.05878   |
| 33 | sigmoid  |     300 | -0.061386  |
| 34 | sigmoid  |     400 | -0.0626982 |
| 35 | sigmoid  |     500 | -0.0640167 |
| 36 | sigmoid  |     600 | -0.0653412 |
| 37 | sigmoid  |     700 | -0.066672  |
| 38 | sigmoid  |     800 | -0.0680089 |
| 39 | sigmoid  |     900 | -0.069352  |
| 40 | sigmoid  |    1000 | -0.0707013 |
| 41 | sigmoid  |    1100 | -0.0720567 |
| 42 | sigmoid  |    1200 | -0.0734183 |
| 43 | sigmoid  |    1300 | -0.0747861 |
| 44 | sigmoid  |    1400 | -0.07616   |
| 45 | sigmoid  |    1500 | -0.0775401 |
| 46 | sigmoid  |    1600 | -0.0789264 |
| 47 | sigmoid  |    1700 | -0.0803189 |
| 48 | sigmoid  |    1800 | -0.0817175 |
| 49 | sigmoid  |    1900 | -0.0831223 |
| 50 | sigmoid  |    2000 | -0.0845333 |
| 51 | sigmoid  |    2100 | -0.0859504 |
| 52 | sigmoid  |    2200 | -0.0873737 |
| 53 | sigmoid  |    2300 | -0.0888032 |
| 54 | sigmoid  |    2400 | -0.0902388 |
| 55 | sigmoid  |    2500 | -0.0916806 |
| 56 | sigmoid  |    2600 | -0.0931286 |
| 57 | sigmoid  |    2700 | -0.0945828 |
| 58 | sigmoid  |    2800 | -0.0960431 |
| 59 | sigmoid  |    2900 | -0.0975096 |
| 60 | sigmoid  |    3000 | -0.0989822 |
| 61 | rbf      |       1 | -0.0573173 |
| 62 | rbf      |     100 | -0.0302356 |
| 63 | rbf      |     300 |  0.0231528 |
| 64 | rbf      |     400 |  0.0365038 |
| 65 | rbf      |     500 |  0.0500182 |
| 66 | rbf      |     600 |  0.0736767 |
| 67 | rbf      |     700 |  0.0965642 |
| 68 | rbf      |     800 |  0.118681  |
| 69 | rbf      |     900 |  0.140026  |
| 70 | rbf      |    1000 |  0.1606    |
| 71 | rbf      |    1100 |  0.180404  |
| 72 | rbf      |    1200 |  0.199436  |
| 73 | rbf      |    1300 |  0.217697  |
| 74 | rbf      |    1400 |  0.23132   |
| 75 | rbf      |    1500 |  0.236118  |
| 76 | rbf      |    1600 |  0.246089  |
| 77 | rbf      |    1700 |  0.257437  |
| 78 | rbf      |    1800 |  0.268271  |
| 79 | rbf      |    1900 |  0.27859   |
| 80 | rbf      |    2000 |  0.288395  |
| 81 | rbf      |    2100 |  0.293675  |
| 82 | rbf      |    2200 |  0.298817  |
| 83 | rbf      |    2300 |  0.304842  |
| 84 | rbf      |    2400 |  0.32019   |
| 85 | rbf      |    2500 |  0.334722  |
| 86 | rbf      |    2600 |  0.348438  |
| 87 | rbf      |    2700 |  0.361338  |
| 88 | rbf      |    2800 |  0.373422  |
| 89 | rbf      |    2900 |  0.384689  |
| 90 | rbf      |    3000 |  0.395141  |
+----+----------+---------+------------+
Best fit at [0.69916869] in the run- model combination is criterion:['poly'], splitter:[2500.].